In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('train.csv')
train = df_train.copy()
df_test = pd.read_csv('test.csv')
test = df_test.copy()

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train.drop_duplicates(inplace=True)

In [5]:
X = train.iloc[:,1:-1]
Y = train.iloc[:,-1]

In [6]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [7]:
Y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [8]:
test=test.iloc[:,1:]
test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

#### Imputing the Null Values

In [17]:
X.isnull().sum()[X.isnull().sum()>0]

Gender              13
Married              3
Dependents          15
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
dtype: int64

###### 1.Gender

In [18]:
X['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

###### 2.Married

In [19]:
X['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

###### 3.Dependents

In [20]:
X['Dependents'].value_counts()

0.0    345
1.0    102
2.0    101
3.0     51
Name: Dependents, dtype: int64

In [21]:
X['Dependents'].replace('3+',3,inplace=True)
test['Dependents'].replace('3+',3,inplace=True)

In [22]:
X['Dependents'] = pd.to_numeric(X['Dependents'])
test['Dependents'] = pd.to_numeric(test['Dependents'])

###### 4.Self Employed

In [23]:
X['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

###### 5.LoanAmount

###### 6. Loan_Amount_Term

In [24]:
X['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

###### 7. Credit_History

In [25]:
X['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [26]:
X.isnull().sum()[X.isnull().sum()>0]

Gender              13
Married              3
Dependents          15
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
dtype: int64

In [27]:
test.isnull().sum()[test.isnull().sum()>0]

Gender              11
Dependents          10
Self_Employed       23
LoanAmount           5
Loan_Amount_Term     6
Credit_History      29
dtype: int64

### Feature Engineering

In [28]:
#X.columns

In [29]:
#X['Family_Count'] = X['Dependents']+1
#test['Family_Count'] = test['Dependents']+1

In [30]:
#X['Total_Income'] = X['ApplicantIncome']+X['CoapplicantIncome']
#test['Total_Income'] = test['ApplicantIncome']+test['CoapplicantIncome']

In [31]:
X['Gender']

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

### Label Encoding Categorical Values

In [32]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [33]:
data = X['Gender']
len(data)

614

In [34]:
nonulls = data.dropna()

In [35]:
impute_ordinal = le.fit_transform(nonulls)

In [36]:
impute_ordinal

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0])

In [37]:
data.loc[data.notnull()] = impute_ordinal

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [38]:
cat_col = X.select_dtypes(include='object').columns
cat_col

Index(['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area'], dtype='object')

In [39]:
def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_le = le.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_le)
    return data

In [40]:
cat_col

Index(['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area'], dtype='object')

In [41]:
for i in (X,test):
    for j in cat_col:
        encode(i[j])

C:\Users\Lenovo\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [42]:
! pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\lenovo\appdata\roaming\python\python37\site-packages (0.23.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.3.1)

In [43]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors = 5, weights="uniform")

In [44]:
Xy = imputer.fit_transform(X)
X_im = pd.DataFrame(Xy,columns = X.columns)

In [45]:
testy = imputer.fit_transform(test)
test_im = pd.DataFrame(testy,columns = test.columns)

In [46]:
Y_ = le.fit_transform(Y)

In [47]:
X_im

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,0.0,0.0,0.0,0.0,5849.0,0.0,147.8,360.0,1.0,2.0
1,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,360.0,1.0,0.0
2,1.0,1.0,0.0,0.0,1.0,3000.0,0.0,66.0,360.0,1.0,2.0
3,1.0,1.0,0.0,1.0,0.0,2583.0,2358.0,120.0,360.0,1.0,2.0
4,1.0,0.0,0.0,0.0,0.0,6000.0,0.0,141.0,360.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,0.0,0.0,0.0,0.0,2900.0,0.0,71.0,360.0,1.0,0.0
610,1.0,1.0,3.0,0.0,0.0,4106.0,0.0,40.0,180.0,1.0,0.0
611,1.0,1.0,1.0,0.0,0.0,8072.0,240.0,253.0,360.0,1.0,2.0
612,1.0,1.0,2.0,0.0,0.0,7583.0,0.0,187.0,360.0,1.0,2.0
613,0.0,0.0,0.0,0.0,1.0,4583.0,0.0,133.0,360.0,0.0,1.0

In [39]:
#imputer = KNNImputer(n_neighbors=2, weights="uniform")
#imputer.fit_transform(df_train['Self_Employed'])

### Splitting X and Y to train and validate datasets

In [40]:
from sklearn.model_selection import train_test_split as tts
x_train,x_val,y_train,y_val = tts(X_im,Y_,test_size=.2,random_state=0)

In [41]:
from sklearn.ensemble import RandomForestClassifier
rf_clas = RandomForestClassifier(n_estimators=10,n_jobs=-1,random_state=0)

In [42]:
rf_clas.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10, n_jobs=-1, random_state=0)

In [43]:
y_pred = rf_clas.predict(x_val)

In [44]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,roc_auc_score,precision_score

In [45]:
confusion_matrix(y_val,y_pred)

array([[18, 15],
       [19, 71]], dtype=int64)

In [46]:
accuracy_score(y_val,y_pred) #0.7886178861788617

0.7235772357723578

In [47]:
f1_score(y_val,y_pred) #0.858695652173913

0.8068181818181818

In [48]:
roc_auc_score(y_val,y_pred) #0.7116161616161616

0.6671717171717171

In [49]:
precision_score(y_val,y_pred)

0.8255813953488372

In [50]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 10)
X_im_p = pca.fit_transform(X_im)
#X_test = pca.transform(X_test)
explained_variance = pca.explained_variance_ratio_

In [51]:
from sklearn.model_selection import train_test_split as tts
x_train,x_val,y_train,y_val = tts(X_im_p,Y_,test_size=.2,random_state=0)

In [52]:
rf_clas = RandomForestClassifier(n_estimators=10,n_jobs=-1,random_state=0)

In [53]:
rf_clas.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10, n_jobs=-1, random_state=0)

In [54]:
y_pred = rf_clas.predict(x_val)

In [55]:
accuracy_score(y_val,y_pred)

0.7886178861788617

In [56]:
params = {
        'criterion':['gini','entropy'],
        'min_samples_leaf':[1,2,3],
        'min_samples_split':[2,3,4],
        'n_estimators':range(10,100,10), 
        'n_jobs':[-1],
        'random_state':[0], 
        }

In [57]:
from sklearn.model_selection import GridSearchCV

In [58]:
grd_rf = GridSearchCV(rf_clas,params,scoring='roc_auc',n_jobs=-1,cv=10)

In [59]:
grd_rf = grd_rf.fit(X_im_p,Y)

In [60]:
grd_rf.best_params_

{'criterion': 'gini',
 'min_samples_leaf': 3,
 'min_samples_split': 2,
 'n_estimators': 30,
 'n_jobs': -1,
 'random_state': 0}

In [61]:
params2 = {
        'criterion':['gini'],
        'min_samples_leaf':[2,3,4],
        'min_samples_split':[2,3,4],
        'n_estimators':range(25,36), 
        'n_jobs':[-1],
        'random_state':[0], 
        }

In [62]:
grd_rf2 = GridSearchCV(rf_clas,params2,scoring='roc_auc',n_jobs=-1,cv=10)

In [63]:
grd_rf2.fit(X_im_p,Y)

GridSearchCV(cv=10,
             estimator=RandomForestClassifier(n_estimators=10, n_jobs=-1,
                                              random_state=0),
             n_jobs=-1,
             param_grid={'criterion': ['gini'], 'min_samples_leaf': [2, 3, 4],
                         'min_samples_split': [2, 3, 4],
                         'n_estimators': range(25, 36), 'n_jobs': [-1],
                         'random_state': [0]},
             scoring='roc_auc')

In [64]:
grd_rf2.best_params_

{'criterion': 'gini',
 'min_samples_leaf': 3,
 'min_samples_split': 2,
 'n_estimators': 31,
 'n_jobs': -1,
 'random_state': 0}

In [65]:
rf_clas2 = RandomForestClassifier(criterion = 'gini',
                                  min_samples_leaf = 3,
                                  min_samples_split = 2,
                                  n_estimators = 31,
                                  n_jobs = -1,
                                  random_state = 0)

In [66]:
rf_clas2.fit(x_train,y_train)

RandomForestClassifier(min_samples_leaf=3, n_estimators=31, n_jobs=-1,
                       random_state=0)

In [67]:
y_pred2 = rf_clas2.predict(x_val)

In [68]:
confusion_matrix(y_val,y_pred2)

array([[17, 16],
       [ 8, 82]], dtype=int64)

In [69]:
accuracy_score(y_val,y_pred2)

0.8048780487804879

In [70]:
precision_score(y_val,y_pred2)

0.8367346938775511

In [71]:
rf_clas3 = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=31, n_jobs=-1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [72]:
rf_clas3.fit(X_im_p,Y)

RandomForestClassifier(min_samples_leaf=3, n_estimators=31, n_jobs=-1,
                       random_state=0)

In [73]:
test_im_p = pca.transform(test_im)

In [74]:
y_test = rf_clas3.predict(test_im_p)

In [75]:
test_df = df_test.copy()

In [76]:
test_df['Loan_Status'] = y_test

In [77]:
test_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [78]:
temp = test_df[['Loan_ID','Loan_Status']]

In [81]:
temp.to_csv(r'C:\Users\Lenovo\Desktop\New folder\knnimp_rfe_auc_roc_f.csv',index=False)

In [80]:
temp['Loan_Status'].value_counts()

Y    292
N     75
Name: Loan_Status, dtype: int64